* {
  padding: 0;
  margin: 0;
}

body {
  font-family: jost;
  padding: 0;
  margin: 0;
}

/* TOP BAR */
.top-bar {
    background: #000;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}


/* NAVBAR */

/* Smooth hover background effect */
/* Initial navbar (transparent) */
header.navbar {
    position: relative;
    z-index: 10;
}

/* Sliding background layer */
header.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ffffff;
    z-index: -1;
    transition: height 0.4s ease-in-out;
}

/* Hover: slide background down */
header.navbar:hover::before {
    height: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
}

.nav-left a {
    margin-right: 22px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.nav-center img {
    height: 38px;
}

.nav-right i {
    font-size: 18px;
    margin-left: 18px;
    cursor: pointer;
}

/* main section */

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.general-info p{
  font-size:20px ;
  text-align: center;
  font-weight: 500;
}

.contact-form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-form input, .contact-form textarea{

    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.contact-form button{
    width: 420px;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* FOOTER */
.footer {
    background: #f4ecd2;
    padding: 60px 40px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h3 {
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #222;
}

.footer-logo {
    width: 120px;
    margin-bottom: 10px;
}

.disclaimer {
    font-size: 14px;
    width: 260px;
}

/* FOOTER BOTTOM */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
}

.currency {
    margin-bottom: 10px;
    cursor: pointer;
}

.social-icons a {
    font-size: 24px;
    color: #000;
    margin: 0 10px;
}

.copy {
    margin: 15px 0;
    font-size: 14px;
}